<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sube tu archivo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dark_mode.css') }}">

</head>
<body>
    <button id="toggleDarkMode">🌙 Modo Oscuro</button>
    <div class="container">
        <h1>Arrastra y suelta tu archivo (PDF, PNG, JPG)</h1>
        <!-- Área de Drag & Drop -->
        <div id="drop-area">
            <form id="file-form" method="POST" enctype="multipart/form-data">
                <p>O haz clic para seleccionar el archivo</p>
                <input type="file" id="fileElem" name="file" accept=".pdf,.png,.jpg,.jpeg">
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/dark_mode.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
</body>
</html>
